html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

.navbar-center {
    left: 0;
    margin: auto;
    padding-top: 13px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.showtrips {
    padding-right: 15px;
}

.showtripslabel {
    padding-right: 4px;
}

.showtripslabeltext {
    font-weight: normal;
}

.buttonSOSDismiss {
    display: block;
    margin: 0 auto;
}

.loginText {
    float: left;
}

.loginField {
    float: right;
}

.dialogInverse .ui-dialog-titlebar {
    color: #9d9d9d;
}

.sosInfoWindow {
    color: #333;
}

.hideTripsButton {
    margin-left: 10px;
}